.cart-page {
  max-width: fit-content;
  margin: 4rem auto;
  padding: 3rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.cart-page button {
  justify-content: center;
  width: 200px;
  margin: 2rem;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 1.5rem;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item img {
  border-radius: 8px;
}

.cart-item h3 {
  font-size: 1rem;
  margin: 0;
}

.cart-item p {
  font-size: 0.9rem;
  color: #666;
  margin: 4px 0;
}

.cart-item button {
  padding: 0.5rem 0.8rem;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.cart-item button:hover {
  background: #e63939;
}

@media (min-width: 600px) {
  .cart-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cart-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
